<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tdt.odm.persist.TableInfoMapper">
    <insert id="insertRegion">
        INSERT INTO ${tableName} (${fieldString}) VALUES
        <foreach collection="filedValues" item="item" open="("
                 close=")" separator=",">
            <choose>
                <when test="item.toString().contains('st_geomfromtext')">
                    ${item}
                </when>
                <otherwise>
                    #{item}
                </otherwise>
            </choose>
        </foreach>
    </insert>
    <update id="createTable">
        CREATE TABLE ${tableName} (
            ${filedString}
        )
    </update>
    <delete id="dropTableByTableName">
        drop table ${tableName}
    </delete>

    <select id="isTableExistInDB" resultType="java.lang.String">
        SELECT
            table_name 
        FROM
            information_schema.COLUMNS 
        WHERE
            table_schema = 'public' 
            AND TABLE_NAME = #{tableName} 
            LIMIT 1
    </select>
</mapper>